# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
*.egg-info/

# Dataset images (too large for GitHub)
dataset/**/*.jpg
dataset/**/*.jpeg
dataset/**/*.png
dataset/**/*.JPG

# Trained model files (too large)
*.h5
*.tflite
*.pb

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/
